<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='darkstyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='favicon-256x256.png') }}" sizes="256x256" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='favicon-256x256.png') }}" class="top-right-logo" alt="Logo">

  <h1>News Search</h1>

  <form method="POST" action="/add">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <label>Search</label><br>
    <input type="text" id="title" name="title" placeholder="Enter search query..."><br>
    <small>
        Keywords or phrases to search for in the article title and body.<br>
        Advanced search is supported:
        <ul>
            <li>Surround phrases with quotes for exact match: <code>"bitcoin price"</code></li>
            <li>Prepend with <code>+</code> for must appear: <code>+bitcoin</code></li>
            <li>Prepend with <code>-</code> for must not appear: <code>-bitcoin</code></li>
            <li>Use <code>AND / OR / NOT</code> with optional grouping: <code>crypto AND (ethereum OR litecoin) NOT bitcoin</code></li>
        </ul>
    </small>
  </form>


</body>
</html>
