<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KP Index Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='darkstyle.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{ url_for('static', filename='favicon-256x256.png') }}" sizes="256x256" type="image/png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <!-- <img src="static/favicon-256x256.png" class="top-right-logo" alt="Logo">
  -- The above line adds a logo to the top right corner of the page. You can replace "static/favicon-256x256.png" with the path to your desired image file. -->
  <h1>Welcome to the home page</h1>
  <h2>This is a subheading</h2>
  <p>Hello! This is my first paragraph.</p>
    
<!-- Link to your Python notes -->
  <a href="/python_notes">Python Notes</a>
  <br>
  <a href="/links">Links Page</a>
  <br>
  <!-- Testing adding a imgfile
  <figure class="opener">
    <img class="opener1" src="static/KP logo.png" role="presentation" alt="" />
  </figure>
  -->
  <br>
<!-- commented out the button and JavaScript for now, as it may not be necessary for the index page
  <button>Python Notes</button>
  <br>
<script>
  document.querySelector('button')
    .addEventListener('click', function() {
      alert('You clicked the button!');
    });
</script>
-->
</body>
</html>