<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="{{ url_for('static', filename='favicon-256x256.png', _external=True) }}">
  <title>KP Home Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='darkstyle.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{ url_for('static', filename='favicon-256x256.png') }}" sizes="256x256" type="image/png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
  <img src="static/favicon-256x256.png" class="top-right-logo" alt="Logo">
  <h1>Welcome to the home page</h1>
  <br>
  <b>
    <a href="/links">Links Page</a><br>
    <a href="/python_notes">Python Notes</a><br>
    <a href="/llms">LLMs Explained</a><br>
    <a href="/history">History Page</a><br>
    {% if not render_env %}
    <a href="/converter">YouTube to MP3</a><br>
    <a href="/import">Import Page</a><br>
    {% endif %}
  </b>
</body>
</html>