<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='darkstyle.css') }}">
</head>
<body>
  <h1>{{ title }}</h1>
  <a href="/history" class="back-link">← Back History</a>
  <hr>
  {{ content | safe }}
</body>
</html>
